######################
# Section for 'ignore patterns' from the project-template
#
# !! Don't edit anything in this section to avoid merge conflics !!
######################
build
.project
.cproject
.settings
.kdev4
*.kdev4
.vscode
CMakeLists.txt.user
#files ending with ~ are emacs backups
*~
#files ending with .swp might show up when using vi
*.swp

######################
# Project specific 'ignore patterns'
#
# Put you project specific ignores below.
# If they are generally useful consider adding them to the 
# project-template and the merge them in.
######################
