/.cproject
/.project
/.pydevproject
/.settings/
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Doxyfile
/Makefile
/Makefile.coverage
/Testing/
/bin/
/cmake/mtca4u-deviceaccess-config.in
/cmake/mtca4u-deviceaccessConfig.cmake.in
/cmake/mtca4u-deviceaccessConfigVersion.cmake.in
/cmake_install.cmake
/debian_from_template/
/device/CMakeFiles/
/device/Makefile
/device/cmake_install.cmake
/device_backends/CMakeFiles/
/device_backends/Makefile
/device_backends/cmake_install.cmake
/doc/html/
/examples/CMakeFiles/
/examples/CTestTestfile.cmake
/examples/cmake_install.cmake
/examples/Makefile
/exception/CMakeFiles/
/exception/Makefile
/exception/cmake_install.cmake
/fileparsers/CMakeFiles/
/fileparsers/Makefile
/fileparsers/cmake_install.cmake
/include/
/install_debian_package_at_DESY.sh
/install_manifest.txt
/lib/
/make_debian_package.sh
/mtca4u-deviceaccess-config
/mtca4u-deviceaccessConfig.cmake
/mtca4u-deviceaccessConfigVersion.cmake
/plugin_example/CMakeFiles/
/plugin_example/CTestTestfile.cmake
/plugin_example/Makefile
/plugin_example/cmake_install.cmake
/scripts/
/tests/CMakeFiles/
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake
/tests/dMapDir/valid.dmap
/tests/valid.dmap
/tools/CMakeFiles/
/tools/Makefile
/tools/cmake_install.cmake
/util/CMakeFiles/
/util/Makefile
/util/cmake_install.cmake
/build
